#infoText {
    font-size: 32px;
    -fx-background-color: #0000ff;
}

.infoCol {

}

/* Add fonts from Roboto */
@font-face {
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    src: url('./fonts/Roboto/Roboto-Black.ttf');*/
/*}*/

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 300;*/
/*    src: url('./fonts/Roboto/Roboto-Bold.ttf');*/
/*}*/

.text {
    -fx-font-family: "Roboto Regular";
}
